
<h1>動画一覧</h1>
<table>
#  <thead>
#  <tr>
#    <th scope="col">題名</th>
#    <th scope="col">リンク</th>
#  </tr>
#  </thead>
  <tbody>
  <% @movies.each.with_index(1) do |movie, i| %>
    <tr>
      <iframe width="560" height="315" src=<%= movie.url %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <td><%= movie.title %></td>
    </tr>
  <% end %>
  </tbody>
</table>