
<h1>動画一覧</h1>
<div id="container">
  <div class="row row-cols-3">
    <% @movies.each.with_index(1) do |movie, i| %>
      <div class="col">
        <iframe class="col" width="560" height="315" src=<%= movie.url %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <%= movie.title %>
      </div>
    <% end %>
  </div>
</div>
